<nb-layout>
  <nb-layout-header fixed>
    eTicket Manager
    <button nbButton [nbContextMenu]="profileMenuItems">
      <nb-icon icon="person-outline"></nb-icon>
    </button>
  </nb-layout-header>
  <nb-sidebar>
    <nb-sidebar-header>Sidebar Header</nb-sidebar-header>
    <nb-menu [items]="sidebarItems"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
